{% extends 'layouts/base.html' %}


{% block content %}
<div id="controls">

</div>
<div id="pages">

</div>

<div id="player" class="hidden">
    <video id="html5video"
           name="media"
           loop="1"
           controls=""
           autoplay=""
           height="100%"
           width="100%"
           src="">
    </video>
</div>

{% for file in files %}
<div class="file">
    <img class="thumbnail"
         id="index_{{loop.index}}"
         path="{{url_for('static', filename=file.path)}}"
         src="{{url_for('static', filename=file.thumbnail)}}"
         onclick="thumbnailclick(this)"
    />
</div>
{% endfor %}


{% endblock %}
{{file.path}}

